backend/node_modules/
backend/.env
frontend/.env
backend/.env.*
frontend/.env.*
!backend/.env.example
!frontend/.env.example
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
.DS_Store
backend/.DS_Store
backend/package-lock.json
*.pdf
test-xyd.abc
